<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" 
              content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
        <title><%= title %></title>
    </head>

    <body>
        <div id="app">
            <h1 id="numOfTasksHeader">
                Insert Your First Task
            </h1>
            <div id="addTaskArea">
                <input  id="newTaskText" placeholder="Add a new task..." />
                <button id="addTaskButton">ADD TASK</button>
            </div>
            <div id="tasks">

            </div>
        </div>

        <script src="./main.bundle.js"></script>
    </body>    
</html>